{% extends 'planilla.html' %} {% load static %} {% block content %}
<div class="adopTitulo">
    <h1>Adopciones Mundo Patitas</h1>
    <h5>Ayuda a los animalitos a encontrar sus futuros dueños.
    </h5>
</div>


{% if adopciones %}
<div class="cardPublicaciones">
    {% for adop in adopciones %}
    <div class="card-mascota">
        <img class="img-perfil-aside" src='{{adop.img}}' alt="">
        <h5>{{adop.nombre}}</h5>
        <p style="text-transform: uppercase;">{{adop.edad}}</p>
        <p style="text-transform: uppercase;">{{adop.tipo_animal}}</p>
        <p>{{adop.correo}}</p>
        <p>{{adop.comentario}}</p>
        <div class="btns">
            {% if adop.id_cliente_id == user.id_usuario %}
            <button class="btn btn-warning">Modificar</button>
            <button class="btn btn-danger" onclick="eliminarPublicacion('{{adop.id_publicacion}}','{{adop.nombre}}')">Eliminar</button>{% else %}<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Contactar</button>            {% endif %}
        </div>

    </div>
    {% endfor %}
</div>
{% else %}
<h6 style="width: 100%;text-align:center;">No se han realiza publiaciones. Si necesitas publicar un animalito te invitamos a realizar la publicación</h6>{% endif %} {%endblock%}