{% extends 'planilla.html' %} {% load static %} {% block content %}

<div class="container lienzo">


    <div class="zonas">

        <div class="zonaAdopcion formatoZona">
            <p class="textoAdopcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, voluptatibus ipsum, velit voluptates et eligendi ullam odio eaque quia magni impedit nihil perferendis aliquam autem ratione reiciendis deleniti distinctio animi?</p>
            <div class="btnAdopciones">
                <h3 >Adoptar</h3>
            </div>
        </div>

        <div class="zonaMiCuenta formatoZona">
            
        </div>

    

</div>

{% endblock %}