 {% extends 'planilla.html' %} {% load static %} {% block content %}


<!-- CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/stylehome.css" %}'>

<!--ICONOS BONITOS-->
<script src="https://kit.fontawesome.com/74f6d8d34f.js" crossorigin="anonymous"></script>







<section class="container">
    <div class="img-inicio">
        <div class="imagen">
            <img src='{% static "img/imghome.png" %}' alt="">

        </div>
    </div>
</section>
<br>
<section>
    <div class="container">
        <div>
            <p style="font-family: 'Chewy', cursive;">Hola</p>
        </div>
    </div>
</section>

{% endblock %}