{% extends 'planilla.html' %} {% load static %} {% block content %}

<!-- LINK CSS HOME -->
<link rel="stylesheet" type="text/css" href='{% static "css/styleHome.css" %}'>

<!-- Seccion Banner -->
<section class="home-banner" id="home">

    <div class="contenedor-banner">
        <h3> ¡Bienvenido a <span>Mundo Patitas</span>!</h3>
    </div>

    <img src='{% static "img/home-banner-curvas.png" %}' class="wave" alt="">

</section>

<!-- Sección  -->
<section class="home-about">

    <div class="imagen-about">
        <img src='{% static "img/gatoPelusa.jpg" %}' alt="gatoPrueba">
    </div>

    <div class="contenedor-home">
        <h3>Hola <span>soy un</span> gato</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime exercitationem dolorem nostrum. </p>
    </div>

</section>

<section class="home-about">

    <div class="contenedor-home">
        <h3>Hola <span>soy un</span> gato</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime exercitationem dolorem nostrum. </p>
    </div>


    <div class="imagen-about">
        <img src='{% static "img/gatoPelusa.jpg" %}' alt="gatoPrueba">
    </div>



</section>

{% endblock %}