{% extends 'planilla.html' %} {% load static %} {% block content %}

<div class="login">
    <div class="form-login">
        <!-- <div class="titulo">
                <h3>Login Mundo Patitas</h3>
            </div> -->
        <form action="">
            <label for="usuario">Usario</label>
            <input name="usuario" type="text">
            <label for="contraseña">Contraseña</label>
            <input type="password">

            <button>Iniciar Sesión</button>
        </form>
    </div>
    <div class="img-login">
        <img src="{% static 'img/perro.png' %}" alt="">
    </div>
</div>

{% endblock %}