{% extends 'planilla.html' %} {% load static %} {% block content %}


<link rel="stylesheet" type="text/css" href='{% static "css/stylePanelCliente.css" %}'>

<!-- div "sidebar" | contenedores de los a -->
<!-- a | botones-->
<!-- span | iconos-->
<!-- h3 | texto menu (Yo, Mis Mascotas, Historial, etc)-->


<div class="container-panelcli container" >

    <!-- ZONA MENÚ -->
    <aside>
        <!-- Logo y Titulo Panel Cliente-->
        <div class="top">
            <div class="top2-aside">
                <img class="img-aside" src='{% static "img/logo-panelcliente.png" %}' alt="">
                <h2 class="h2-aside titulo-panelcliente">PANEL<span class="success">CLIENTE</h2>
            </div>
            <div class="close" id="close-btncli">
                <span class="material-symbols-outlined">close</span>
            </div>
        </div>
        <div>
            <h5 class="saludo-cliente"><span class="success">¡Hola </span>Marcelo!</h2>
        </div>
        <!--Fin - Logo y Titulo -->

        <!-- Botones Menú -->
        <div class="sidebar">
            <a id="yo-btn" class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-yo">person</span>
                <h3 class="h3-aside">Yo</h3>
            </a>
        </div>

        <div class="sidebar">
            <a id="misMascotas-btn" class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-mismascotas">pets</span>
                <h3 class="h3-aside">Mis Mascotas</h3>
            </a>
        </div>

        <div class="sidebar">
            <a id="historialCitas-btn" class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-historialcitas" >description</span>
                <h3 class="h3-aside">Historial Citas</h3>
            </a>
        </div>

        <div class="sidebar">
            <a id="misAdopciones-btn" class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-misadopciones">volunteer_activism</span>
                <h3 class="h3-aside">Mis Adopciones</h3>
            </a>
        </div>

        <div id="miCementerio-btn" class="sidebar">
            <a class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-micementerio">filter_drama</span>
                <h3 class="h3-aside">Mi Cementerio</h3>
            </a>
        </div>

        <div id="ayuda-btn" class="sidebar">
            <a class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-ayuda">contact_support</span>
                <h3 class="h3-aside">Ayuda</h3>
            </a>
        </div>

        <div class="sidebar">
            <a class="a-sidebar a-cerrarsesion" href="#">
                <span class="material-symbols-outlined icon-cerrarsesion">logout</span>
                <h3 class="h3-aside">Cerrar Sesión</h3>
            </a>
        </div>
        <!-- FIN - Botones Menú -->
    </aside>
    <!-- FIN - ZONA MENÚ -->

    <!-- Botón Abrir MENÚ del modo Responsivo (se activa cuando esté en formato móvil)-->
    <div id="menu-btncli" class="cont-menuaside">
        <span class="material-symbols-outlined menuaside">menu</span>
    </div>

    <!-- CONTENIDO de los TABS-->
    <div class="tabSection">

        <!-- Tab "Yo" -->
        <div id="tabYo">
            <div class="cardYo card">
                <h4>Tu Información</h4>
                <img class="img-perfil-aside" src='{% static "img/foto_perfil.jpg" %}' alt="">
                <p class="btn-modificarImagen">+Modificar Imágen</p>

                <div class="contenido">
                    <p>Nombre: <br><span class="texto-info-PC">Marcelo Caceres Riquelme</span></p>
                    <p>Correo: <br><span class="texto-info-PC">marc_caceres1987@gmail.com</span></p>
                    <p>Fecha de Nacimiento: <br><span class="texto-info-PC">29-04-1987</span></p>
                    <p>Celular: <br><span class="texto-info-PC" style="color: rgb(26, 146, 201); font-style: italic;">+569 </span><span class="texto-info-PC">82655349</span></p>
                    <p>Mascotas: <br><span class="texto-info-PC">2</span></p>
                </div>

                <div class="btns">
                    <p class="btn-modificar">Modificar Datos</p>
                </div>

            </div>
        </div>
        <!-- Fin - Tab "Yo" -->

        <!-- Tab "Mis Mascotas" -->
        <div id="tabMisMascotas">
            <div class="cardMisMascotas card">
                <h3>Mis Mascotas</h3>
                <p style="color: rgb(112, 112, 112); font-size: 15px;">Para poder realizar una consulta veterinaria es necesario que agregues a una mascota con la mayor cantidad de información posible.</p>
                <div class="zona-mascotas">
                    <div class="card-mascota">
                        <img class="img-perfil-aside" src='{% static "img/gatoPelusa.jpg" %}' alt="">
                        <h5>Pelusa</h5>
                        <p>Gato</p>
                        <div class="btns">
                            <p class="btn-modificar">Modificar</p>
                            <p class="btn-eliminar"><span class="material-symbols-outlined" style="vertical-align: middle; margin-top: 2px;">close</span></p>
                        </div>
                    </div>
                    <div class="card-mascota">
                        <img class="img-perfil-aside" src='{% static "img/perroCoco.jpg" %}' alt="">
                        <h5>Coco</h5>
                        <p>Perro</p>
                        <div class="btns">
                            <p class="btn-modificar">Modificar</p>
                            <p class="btn-eliminar"><span class="material-symbols-outlined" style="vertical-align: middle; margin-top: 2px;">close</span></p>
                        </div>
                    </div>
                    <div class="card-mascota-nueva">
                        <img class="img-perfil-aside imgAddPet" src='{% static "img/addPet.jpg" %}' alt="">
                        <img class="img-perfil-aside btnAddPet" src='{% static "img/btnAdd.png" %}' alt="">
                    </div>
                </div>

            </div>
        </div>
        <!-- Fin - Tab "Mis Mascotas" -->

        <!-- Tab "Historial Citas" -->
        <div id="tabHistorialCitas">
            <div class="cardHistorialCitas card">
                <h3>Historial Citas</h3>

                <p class="info">Aquí podrás ver el historial de Citas que has tenido. Si deseas anular una hora debes hacerlo al momento de agendar una hora > ANULAR HORA.</p>

                <div class="top-HistorialCitas">
                    <div class="top-seccion">
                        <h6 class="titulo-cant ">En Espera</h5>
                        <p class="cant-citas enEspera">0</p>
                    </div>
                    <p class="separador-top">|</p>
                    <div class="top-seccion">
                        <h6 class="titulo-cant">Concluidas</h6>
                        <p class="cant-citas concluidas">5</p>
                    </div>
                </div>

                <div class="separador-historial">
                    <p>_</p>
                </div>

                <div class="lista-historial">
                    <div class="historial">
                        <div class="formato id"><p class="p-id">1</p></div>
                        <div class="formato"><span class="date material-symbols-outlined">date_range</span><p>23/04/2022</p></div>
                        <div class="formato"><span class="pet material-symbols-outlined icon-mismascotas">pets</span><p>Pelusa</p></div>
                        <div class="formato"><span class="doctor material-symbols-outlined">medical_information</span><p style="margin-right: 3px;">Centro</p><p>Farmavet</p></div>
                        <div  id="detalleCita-btn" class="formato cuadro-ver"><span class="ver material-symbols-outlined">find_in_page</span></div>
                    </div>
                    <div class="historial">
                        <div class="formato id"><p class="p-id">2</p></div>
                        <div class="formato"><span class="date material-symbols-outlined">date_range</span><p>19/03/2022</p></div>
                        <div class="formato"><span class="pet material-symbols-outlined icon-mismascotas">pets</span><p>MicaelaGenial</p></div>
                        <div class="formato"><span class="doctor material-symbols-outlined">medical_information</span><p style="margin-right: 3px;">Centro</p><p>Farmavet</p></div>
                        <div class="formato cuadro-ver"><span class="ver material-symbols-outlined">find_in_page</span></div>
                    </div>
                    <div class="historial">
                        <div class="formato id"><p class="p-id">3</p></div>
                        <div class="formato"><span class="date material-symbols-outlined">date_range</span><p>07/01/2022</p></div>
                        <div class="formato"><span class="pet material-symbols-outlined icon-mismascotas">pets</span><p>Pelusa</p></div>
                        <div class="formato"><span class="doctor material-symbols-outlined">medical_information</span><p style="margin-right: 3px;">Centro</p><p>Farmavet</p></div>
                        <div class="formato cuadro-ver"><span class="ver material-symbols-outlined">find_in_page</span></div>
                    </div>
                    <div class="historial">
                        <div class="formato id"><p class="p-id">4</p></div>
                        <div class="formato"><span class="date material-symbols-outlined">date_range</span><p>07/01/2022</p></div>
                        <div class="formato"><span class="pet material-symbols-outlined icon-mismascotas">pets</span><p>Pelusa</p></div>
                        <div class="formato"><span class="doctor material-symbols-outlined">medical_information</span><p style="margin-right: 3px;">Centro</p><p>Farmavet</p></div>
                        <div class="formato cuadro-ver"><span class="ver material-symbols-outlined">find_in_page</span></div>
                    </div>
                    <div class="historial">
                        <div class="formato id"><p class="p-id">5</p></div>
                        <div class="formato"><span class="date material-symbols-outlined">date_range</span><p>07/01/2022</p></div>
                        <div class="formato"><span class="pet material-symbols-outlined icon-mismascotas">pets</span><p>Pelusa</p></div>
                        <div class="formato"><span class="doctor material-symbols-outlined">medical_information</span><p style="margin-right: 3px;">Centro</p><p>Farmavet</p></div>
                        <div class="formato cuadro-ver"><span class="ver material-symbols-outlined">find_in_page</span></div>
                    </div>
                </div>

            </div>

            <div id="fondoDetalleCita" class="fondoDetalleCita">
            </div>

            <div id="contenedorDetalle" class="contenedorDetalle">
                <div id="cerrar-detalle-btn" class="cerrar-detalle"><span class="material-symbols-outlined">arrow_back</span><p>Regresar</p></div>
                
                <div class="detalle-contenido">
                    <div class="part1-detalle">
                        <h5>Información</h5>
                        <img src='{% static "img/informe-veterinario.png" %}' alt="">
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Fecha Cita:</p>
                            <p>23/04/2022</p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Motivo Consulta:</p>
                            <p>Consulta General</p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Nombre Mascota:</p>
                            <p>Pelusa</p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Tipo:</p>
                            <p>Perro</p>
                        </div>
                    </div>

                    <div class="part2-detalle">
                        <div class="sec1-detalle">
                            <div class="contenedor-info">
                                <p class="p-subtitulos">Atendido por:</p>
                                <p>Enrique Ominami</p>
                            </div>
                            <div class="contenedor-info">
                                <p class="p-subtitulos">Centro Médico:</p>
                                <p>Farmavet</p>
                            </div>
                        </div>
                        <div class="sec2-detalle">
                            <div class="contenedor-info cont-sec2">
                                <p class="p-subtitulos">Tratamiento:</p>
                                <div class="p-comentarios">
                                    <p>No Aplica.</p>
                                </div>
                            </div>
                            <div class="contenedor-info cont-sec2">
                                <p class="p-subtitulos">Comentario del Veterinario:</p>
                                <div class="p-comentarios">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates velit, fugit vel maxime distinctio officiis quo. Assumenda aut, nulla autem illo dolores molestias molestiae eos explicabo dolorem similique ad cupiditate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detalle-valoracion">

                </div>

            </div>
        </div>
        <!-- Fin - Tab "Historial Citas" -->

        <!-- Tab "Adopciones" -->
        <div class="tabMisAdopciones tabPanelCliente">
            <h3 style="text-align: center;">Adopciones</h3>
            <p>asdasd</p>
        </div>
        <!-- Fin - Tab "Adopciones" -->

        <!-- Tab "Cementerio" -->
        <div class="tabMiCementerio tabPanelCliente">
            <h3 style="text-align: center;">Cementerio</h3>
            <p>el cementerio</p>
        </div>
        <!-- Fin - Tab "Cementerio" -->

        <!-- Tab "Ayuda" -->
        <div class="tabAyuda tabPanelCliente">
            <h3 style="text-align: center;">Ayuda</h3>
            <p>la ayuda</p>
        </div>
        <!-- Fin - Tab "Aayuda" -->

    </div>
    
</div>

{% endblock %}
