{% extends 'planilla.html' %} {% load static %} {% block content %}




<!-- div "sidebar" | contenedores de los a -->
<!-- a | botones-->
<!-- span | iconos-->
<!-- h3 | texto menu (Yo, Mis Mascotas, Historial, etc)-->


<div class="container-panelcli container">

    <!-- ZONA MENÚ -->
    <aside>
        <!-- Logo y Titulo Panel Cliente-->
        <div class="top">
            <div class="top2-aside">
                <img class="img-aside" src='{% static "img/logo-panelcliente.png" %}' alt="">
                <h2 class="h2-aside titulo-panelcliente">PANEL<span class="success">CLIENTE</h2>
            </div>
            <div class="close" id="close-btncli">
                <span class="material-symbols-outlined">close</span>
            </div>
        </div>
        <div>
            <h5 class="saludo-cliente"><span class="success">¡Hola </span>{{user.nombres}}!</h2>
        </div>
        <!--Fin - Logo y Titulo -->

        <!-- Botones Menú -->
        <div class="sidebar">
            <a id="yo-btn" class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-yo">person</span>
                <h3 class="h3-aside">Yo</h3>
            </a>
        </div>

        <div class="sidebar">
            <a id="misMascotas-btn" class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-mismascotas">pets</span>
                <h3 class="h3-aside">Mis Mascotas</h3>
            </a>
        </div>

        <div class="sidebar">
            <a id="historialCitas-btn" class="historialCitas-btn a-sidebar" href="#">
                <span class="material-symbols-outlined icon-historialcitas">description</span>
                <h3 class="h3-aside">Historial Citas</h3>
            </a>
        </div>

        <div class="sidebar">
            <a id="misAdopciones-btn" class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-misadopciones">volunteer_activism</span>
                <h3 class="h3-aside">Mis Adopciones</h3>
            </a>
        </div>

        <div id="miCementerio-btn" class="sidebar">
            <a class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-micementerio">filter_drama</span>
                <h3 class="h3-aside">Mi Cementerio</h3>
            </a>
        </div>

        <div id="ayuda-btn" class="sidebar">
            <a class="a-sidebar" href="#">
                <span class="material-symbols-outlined icon-ayuda">contact_support</span>
                <h3 class="h3-aside">Ayuda</h3>
            </a>
        </div>

        <div class="sidebar">
            <a class="a-sidebar a-cerrarsesion" href="{% url 'logout'%}">
                <span class="material-symbols-outlined icon-cerrarsesion">logout</span>
                <h3 class="h3-aside">Cerrar Sesión</h3>
            </a>
        </div>
        <!-- FIN - Botones Menú -->
    </aside>
    <!-- FIN - ZONA MENÚ -->

    <!-- Botón Abrir MENÚ del modo Responsivo (se activa cuando esté en formato móvil)-->
    <div id="menu-btncli" class="cont-menuaside">
        <span class="material-symbols-outlined menuaside">menu</span>
    </div>

    <!-- CONTENIDO de los TABS-->
    <div class="tabSection">

        <!-- Tab "Yo" -->
        <div id="tabYo">
            <div class="cardYo card">
                <h4>Tu Información</h4>
                <img class="img-perfil-aside" src='{% static "img/foto_perfil.jpg" %}' alt="">
                <p class="btn-modificarImagen">+Modificar Imágen</p>

                <div class="contenido">
                    <p>Nombre: <br><span class="texto-info-PC">{{user.nombres}} {{user.apellidos}}</span></p>
                    <p>Correo: <br><span class="texto-info-PC">{{user.email}}</span></p>
                    <p>Edad: <br><span class="texto-info-PC">{{user.edad}}</span></p>
                    <p>Celular: <br><span class="texto-info-PC" style="color: rgb(26, 146, 201); font-style: italic;">+569 </span><span class="texto-info-PC">{{user.celular}}</span></p>
                    <p>Mascotas: <br><span class="texto-info-PC">2</span></p>
                </div>

                <div class="btns">
                    <p class="btn-modificar">Modificar Datos</p>
                </div>

            </div>
        </div>
        <!-- Fin - Tab "Yo" -->

        <!-- Tab "Mis Mascotas" -->
        <div id="tabMisMascotas">
            <div class="cardMisMascotas card">
                <h3>Mis Mascotas</h3>
                <p style="color: rgb(112, 112, 112); font-size: 15px;">Para poder realizar una consulta veterinaria es necesario que agregues a una mascota con la mayor cantidad de información posible.</p>
                <div class="zona-mascotas">
                    {% if mascotas %} {% for mascota in mascotas %}
                    <div class="card-mascota">
                        {% if mascota.tipo == 'perro' %}<img class="img-perfil-aside" src='{% static "img/icono-perro.png" %}' alt=""> 
                        {% elif mascota.tipo == 'gato' %}<img class="img-perfil-aside" src='{% static "img/icono-gato.png" %}' alt=""> 
                        {% else %}<img class="img-perfil-aside" src='{% static "img/icono-exotico.png" %}' alt=""> {% endif %}
                        <h5>{{mascota.nombre}}</h5>
                        <p style="text-transform: uppercase;">{{mascota.tipo}}</p>
                        <div class="btns">
                            <p id="modificar-mascota-btn" class="modificar-mascota-btn">Modificar</p>
                            <button class="btn-eliminar" onclick="eliminarMascota('{{mascota.id_mascota}}')"><span class="material-symbols-outlined" style="vertical-align: middle; margin-top: 2px;">close</span></button>
                        </div>
                    </div>
                    {% endfor %} {% else %}
                    <p>No tiene mascotas registradas!!</p>
                    {% endif %}
                    <div class="card-mascota-nueva">
                        <img class="img-perfil-aside imgAddPet" src='{% static "img/addPet.jpg" %}' alt="">
                        <button class="btnMas" data-bs-toggle="modal" data-bs-target="#mascotaModal" type="button"><img class="img-perfil-aside btnAddPet" src='{% static "img/btnAdd.png" %}' alt=""></button>

                    </div>
                </div>

            </div>


            <!--MODIFICAR INFO MASCOTA-->
            <div id="contenedorModPet" class="contenedorModPet">
                <h3 style="color: #424242;">Modificar mascota</h3>

                <!-- CONTENEDOR CUADROS PART1 PART2-->
                <div class="contenido-modPet">

                    <!-- CUADRO GRIS 1 -->
                    <div class="part1">

                        <!-- IMAGEN DE MASCOTA-->
                        <div class="img-pet">
                            <img src='{% static "img/perro-cara.png" %}' class="perfilPetPerro" alt="...">
                            <img src='{% static "img/gato-cara.png" %}' class="perfilPetGato" alt="...">
                            <img src='{% static "img/erizo-cara2.png" %}' class="perfilPetExotico" alt="...">
                        </div>

                        <!-- NOMBRE DE MASCOTA -->
                        <div class="form-floating txtInpNombre mb-3">
                            <input type="name" class="form-control txtNombre" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" style="color: #04bc70;">Nombre</label>
                        </div>

                        <!--TITULO Y BOTONES TIPO DE MASCOTA-->
                        <h5>Tipo de Mascota</h5>
                        <div class="tipoPet">
                            <div class="tipoPerroBtn tipoMascotaBtn">
                                <img src='{% static "img/perro-cara.png" %}' class="imagenBtn" alt="...">
                                <p class="p-btn">Perro</p>
                            </div>
                            <div class="tipoGatoBtn tipoMascotaBtn">
                                <img src='{% static "img/gato-cara.png" %}' class="imagenBtn" alt="...">
                                <p class="p-btn">Gato</p>
                            </div>
                            <div class="tipoExoticoBtn tipoMascotaBtn">
                                <img src='{% static "img/erizo-cara2.png" %}' class="imagenBtn" alt="...">
                                <p class="p-btn">Exótico</p>
                            </div>
                        </div>
                        <!--FIN BOTONES TIPO DE MASCOTA-->

                    </div>
                    <!-- FIN CUADRO GRIS 1 -->

                    <!-- CUADRO GRIS 2 -->
                    <div class="part2">

                        <!-- LABELS INFO MASCOTA -->
                        <div class="form-floating mb-3">
                            <input type="raza" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" style="color: #04bc70;">Raza</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" style="color: #04bc70;">Edad</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" style="color: #04bc70;">Nacimiento</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" style="color: #04bc70;">Número</label>
                        </div>
                        <!-- FIN LABELS INFO MASCOTA -->

                    </div>
                    <!-- FIN CUADRO GRIS 2 -->

                </div>
                <!-- FIN CONTENEDOR CUADROS PART1 PART2-->

                <!-- SALTO DE LÍNEA -->
                <br>


                <!-- BOTON GUARDAR Y CANCELAR -->
                <div class="btnAccionMod">
                    <div id="guardar-modPet-btn" class="guardar-modPet-btn modbtn"><span class="material-symbols-outlined">done</span>
                        <p class="p-btn">Guardar</p>
                    </div>

                    <div id="cerrar-modPet-btn" class="cancelar-modPet-btn modbtn">
                        <span class="material-symbols-outlined">close</span>
                        <p class="p-btn">Cancelar</p>
                    </div>
                </div>
                <!-- FIN BOTON GUARDAR Y CANCELAR -->

            </div>
            <!--FIN MODIFICAR INFO MASCOTA-->



        </div>
        <!-- Fin - Tab "Mis Mascotas" -->

        <!-- Tab "Historial Citas" -->
        <div id="tabHistorialCitas">
            <div class="cardHistorialCitas card">
                <h3>Historial Citas</h3>

                <p class="info">Aquí podrás ver el historial de Citas que has tenido. Si deseas anular una hora debes hacerlo al momento de agendar una hora > ANULAR HORA.</p>

                <div class="top-HistorialCitas">
                    <div class="top-seccion">
                        <h6 class="titulo-cant ">En Espera</h5>
                            <p class="cant-citas enEspera">0</p>
                    </div>
                    <p class="separador-top">|</p>
                    <div class="top-seccion">
                        <h6 class="titulo-cant">Concluidas</h6>
                        <p class="cant-citas concluidas">5</p>
                    </div>
                </div>

                <div class="separador-historial">
                    <p>_</p>
                </div>

                <div class="lista-historial">
                    <div class="historial">
                        <div class="formato id">
                            <p class="p-id">1</p>
                        </div>
                        <div class="formato"><span class="date material-symbols-outlined">date_range</span>
                            <p>23/04/2022</p>
                        </div>
                        <div class="formato"><span class="pet material-symbols-outlined icon-mismascotas">pets</span>
                            <p>Pelusa</p>
                        </div>
                        <div class="formato"><span class="doctor material-symbols-outlined">medical_information</span>
                            <p style="margin-right: 3px;">Centro</p>
                            <p>Farmavet</p>
                        </div>
                        <div id="detalleCita-btn" class="formato cuadro-ver"><span class="ver material-symbols-outlined">find_in_page</span></div>
                    </div>

                </div>

            </div>

            <div id="contenedorDetalle" class="contenedorDetalle">
                <div class="detalle-contenido">
                    <div class="part1-detalle">
                        <div class="contenedor-info-top">
                            <h5>Información</h5>
                            <img src='{% static "img/informe-veterinario.png" %}' alt="">
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Fecha Cita:</p>
                            <p>23/04/2022</p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Motivo Consulta:</p>
                            <p>Consulta General</p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Nombre Mascota:</p>
                            <p>Pelusa</p>
                        </div>
                        <div class="contenedor-info">
                            <p class="p-subtitulos">Tipo:</p>
                            <p>Perro</p>
                        </div>
                    </div>

                    <div class="part2-detalle">
                        <div class="sec1-detalle">
                            <div class="contenedor-info">
                                <p class="p-subtitulos">Atendido por:</p>
                                <p>Enrique Ominami</p>
                            </div>
                            <div class="contenedor-info">
                                <p class="p-subtitulos">Centro Médico:</p>
                                <p>Farmavet</p>
                            </div>
                        </div>
                        <div class="sec2-detalle">
                            <div class="contenedor-info cont-sec2">
                                <p class="p-subtitulos">Tratamiento:</p>
                                <div class="p-comentarios">
                                    <p>No Aplica.</p>
                                </div>
                            </div>
                            <div class="contenedor-info cont-sec2">
                                <p class="p-subtitulos">Comentario del Veterinario:</p>
                                <div class="p-comentarios">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates velit, fugit vel maxime distinctio officiis quo. Assumenda aut, nulla autem illo dolores molestias molestiae eos explicabo dolorem similique ad cupiditate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detalle-valoracion">
                    <div id="noValorado" class="noValorado">
                        <h6>¿Cómo te atendió tu Veterinario?</h6>
                        <p>Más patitas = Mejor valoración.</p>
                        <div class="patitas-valoracion">
                            <div><span id="voto1" class="material-symbols-outlined">pets</span>
                                <p>1</p>
                            </div>
                            <div><span id="voto2" class="material-symbols-outlined">pets</span>
                                <p>2</p>
                            </div>
                            <div><span id="voto3" class="material-symbols-outlined">pets</span>
                                <p>3</p>
                            </div>
                            <div><span id="voto4" class="material-symbols-outlined">pets</span>
                                <p>4</p>
                            </div>
                            <div><span id="voto5" class="material-symbols-outlined">pets</span>
                                <p>5</p>
                            </div>
                        </div>
                    </div>

                    <div id="valorado" class="valorado">
                        <h6>¡Gracias!</h6>
                        <img src='{% static "img/corazon.png" %}' alt="">
                        <p>Tu valoración ayuda a las demás personas a elegir su veterinario.</p>
                    </div>

                </div>

                <div id="cerrar-detalle-btn" class="cerrar-detalle"><span class="material-symbols-outlined">arrow_back</span>
                    <p>Regresar</p>
                </div>

            </div>
        </div>
        <!-- Fin - Tab "Historial Citas" -->

        <!-- Tab "Adopciones" -->
        <div class="tabMisAdopciones tabPanelCliente">
            <h3 style="text-align: center;">Adopciones</h3>
            <p>asdasd</p>
        </div>
        <!-- Fin - Tab "Adopciones" -->

        <!-- Tab "Cementerio" -->
        <div class="tabMiCementerio tabPanelCliente">
            <h3 style="text-align: center;">Cementerio</h3>
            <p>el cementerio</p>
        </div>
        <!-- Fin - Tab "Cementerio" -->

        <!-- Tab "Ayuda" -->
        <div class="tabAyuda tabPanelCliente">
            <h3 style="text-align: center;">Ayuda</h3>
            <p>la ayuda</p>
        </div>
        <!-- Fin - Tab "Aayuda" -->

        <!-- FONDO NEGRO BLUR TAPA TODA LA PANTALLA -->
        <div id="fondoNegroBlur" class="fondoNegroBlur">
        </div>
    </div>

</div>

<div class="modal fade" id="mascotaModal" tabindex="-1" aria-labelledby="mascotaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Mascota</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formMascota" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Tipo de Mascota</label>
                        <select class="form-select" name="tipo" id="tipo">
                            <option value="perro">Perro</option>
                            <option value="gato">Gato</option>
                            <option value="exotico">Exótico</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Raza</label>
                        <input type="text" class="form-control" name="raza" id="raza">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Edad</label>
                        <input type="number" class="form-control" name="edad" id="edad">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Dueño</label>
                        <select name="dueño" id="dueño">
                            <option value="{{user.id_usuario}}" selected="selected">{{user.nombres}} {{user.apellidos}}</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="agregarMascota()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetFormModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/menuPanel.js' %}"></script>
<script src="{% static 'js/enviarMascota.js' %}"></script>


{% endblock %}