{% extends 'planilla.html' %} {% load static %} {% block content %}

<div class="cont-re">
    <div class="cliente">
        <img src="{% static 'img/mascotas.jpg' %}" alt="">
        <button class="btn-cli" data-bs-toggle="modal" data-bs-target="#ModalCli">Registro Cliente</button>
    </div>
    <div class="vet">
        <img src="{% static 'img/vet.jpg' %}" alt="">
        <button class="btn-vet" data-bs-toggle="modal" data-bs-target="#ModalVet">Registro Veterinaria</button>
    </div>
</div>

<!-- Modal Vet-->
<div class="modal fade" id="ModalVet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de Clinica Veterinaria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Nombre Centro</label>
                            <input type="text">
                        </div>
                        <div class="col-md-6">
                            <label for="">Rut Empresa</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Dirección</label>
                            <input type="text">
                        </div>
                        <div class="col-md-6">
                            <label for="">Comuna</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Correo Electronico</label>
                            <input placeholder="ejemplo@ejemplo.com" type="text">
                        </div>
                        <div class="col-md-6">
                            <label for="">Celular</label>
                            <input placeholder="987654321" type="number">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success">Registrarse</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cli-->
<div class="modal fade" id="ModalCli" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Correo Electronico</label>
                            <input placeholder="ejemplo@ejemplo.com" type="email">
                        </div>
                        <div class="col-md-6">
                            <label for="">Usuario</label>
                            <input type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Contraseña</label>
                            <input type="password">
                        </div>
                        <div class="col-md-6">
                            <label for="">Nombre Completo</label>
                            <input placeholder="Mario Rojas" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Rut</label>
                            <br>
                            <input type="text">
                        </div>
                        <div class="col-md-6">
                            <label for="">Genero</label>
                            <br>
                            <select name="" id="">
                                <option value="hombre">-------</option>
                                <option value="hombre">Hombre</option>
                                <option value="mujer">Mujer</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="">Numero Celular</label>
                            <br>
                            <input type="number" name="" placeholder="987654321">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success">Registrarse</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}