{% extends 'planilla.html' %} {% load static %} {% block content %}
<form method="POST">
    {% csrf_token %}
    <label for="">Usuario:</label>
    <input type="text" name="username">
    <label for="">Contraseña:</label>
    <input type="password" name="password">
    <label for="">Nombe:</label>
    <input type="text" placeholder="Jose Rojas" name="first_name">
    <label for="">Correo:</label>
    <input type="email" name="email">
    <label for="">Celular:</label>
    <input type="number" placeholder="987654321" name="celular">
    <label for="">Edad:</label>
    <input type="number" name="edad">
    <label for="">Dirección:</label>
    <input type="text" name="direccion">
    <label for="">Comuna</label>
    <select name="comuna">
        <option value="valparaiso">V Región</option>
        <option value="metropolitana">Metropolitana</option>
    </select>
    <label for="">Perfil</label>
    <select name="perfil">
        <option value="cliente">Cliente</option>
        <option value="centro">Centro Veterinario</option>
    </select>
    <button type="submit">Crear</button>
</form>
{% endblock %}