/* >>>>>>>>> Joce <<<<<<<<<<*/

body {
    background: url("../img/fondoPatitasC.jpg") no-repeat center fixed;
    background-size: cover;
}

header {
    display: grid;
}

.contenedor {
    display: block;
    opacity: 1;
    justify-content: center;
    transition: opacity .1s;
    will-change: opacity;
    top: 6%;
    left: 14%;
    right: 14%; 
    margin: auto 8rem 5rem 8rem;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    z-index: 9999;
    transition: all 600ms ease;
    
}

.cuadrito {
    display: grid;
    color: #3b3b3b;
    grid-template-columns: auto 50%;
    padding: 0;
    gap: 1rem;
    
}

.cuadrito2 {
    display: none;
    background: #f6f6f9da;
    color: #3b3b3b;
    padding: 0;
    grid-template-columns: auto auto;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 1rem 0.3rem #0000005d;
}

.cuadrito .cuadroFondo1 {
    background: #f6f6f9da;
    height: 100%;
    padding: 4rem 1rem;
    margin: 0;
    border-radius: 20px;
    font-family: 'Chewy', cursive;
    box-shadow: 0.2rem 0.2rem 1rem 0.3rem #0000005d;
}

.cuadrito .cuadroFondo1 img{
    margin-top: 2rem;
    width: 65%;   
    border-radius: 100%;
    box-shadow: 0.2rem 0.2rem 1rem 0.3rem #0000003b;
}

.cuadrito .cuadroFondo2 {
    background: #f6f6f9da;
    height: 100%;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 1rem 0.3rem #0000005d;
}

.cuadrito .cuadroFondo2 .formulario {
    margin-top: 2rem;
}



.cuadrito2 h3{
    align-items: center;
}

.cuadrito2 .formulario {
    justify-content: center;
    width: 100%;
    
}

.cuadrito2 .sel1{
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 20px;
}

.cuadrito2 .contenedor-card{
    background: white;
    margin: 20px;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem #00000017;
    min-height: 8rem;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.cuadrito2 .contenedor-card .info_vet p{
    margin-top: 1rem;
    overflow-wrap: break-word;
}

.cuadrito2 .contenedor-card .info_vet img {
    margin-top: 6px;
    object-fit: cover;
    width: 7rem;
}

.cuadrito2 .contenedor-card .cuadroFormulario{
    display: grid;
    justify-content: center;

}

.cuadrito2 .contenedor-card .cuadroFormulario .formulario .diaConsulta{
    width: 300px;
}


/*PATITAS X VETERINARIO*/
#huellaActiva1, #huellaActiva2, #huellaActiva3, #huellaActiva4, #huellaActiva5{
    display: none;
}

.cuadrito2 .contenedor-card .contenedor-patitas {
    display: grid; 
    grid-template-columns: auto auto auto auto auto; 
    margin: 0 2rem;
    gap: 1rem;
}

.cuadrito2 .contenedor-card img{
    margin-top: 1rem;
    width: 100%;
}

.cuadrito .btnContinuar {
    position: relative;
    display: none;  
    align-items: center;
    vertical-align: middle;
    color: #ffffff;
    background: #27ba5f;
    width: 8rem;
    height: 2.5rem;
    border-radius: 50px;
    padding-left: 6px;
    margin: 16px auto 16px auto;
    cursor: pointer;
}

.cuadrito .btnContinuarApagado {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #ffffff;
    background: #72c29f;
    width: 8rem;
    height: 2.5rem;
    border-radius: 50px;
    padding-left: 6px;
    margin: 16px auto 16px auto;
}



.cuadrito a {
    text-decoration: none;
}

.btnVolver {
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #ffffff;
    background: #27ba5f;
    width: 7rem;
    height: 2.5rem;
    border-radius: 50px;
    padding-left: 14px;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem #00000044;
}

.btnVolver .btnA {
    color: white;
}

.cuadrito .btnContinuar .p-btn {
    text-align: center;
    margin: 0;
    width: auto;
}

.cuadrito .btnContinuarApagado .p-btn {
    text-align: center;
    margin: 0;
    width: auto;
}


/*Animacion de botones*/

.cuadrito .btnContinuar:hover {
    background: #ffff;
    color: #1d1d1d;
    border: 0.1rem solid #068e53;
    transition: all 150ms ease;
}

.btnVolver .p-btn {
    text-align: center;
    margin: 0;
    width: auto;
}

.btnVolver:hover {
    background: #ffff;
    border: 0.1rem solid #068e53;
    transition: all 150ms ease;
    color: #1d1d1d;
}

.btnVolver:hover p {
    color: #1d1d1d;
}

/*PUDIN PUDIN*/

@media (max-width: 1115px) {
    .contenedor {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .contenedor {
        margin: 0;
    }

    .cuadrito{
        display: grid;
        grid-template-columns:40% 60%;
    }

    .cuadrito .cuadroFondo1 {
        padding: 3rem 1rem;
    }

    .cuadrito .cuadroFondo2 {
        margin-right: 20px;
    }

    .cuadrito .cuadroFondo1 img {
        width: 80%;
    }

    .cuadrito2 .contenedor-card{
        grid-template-columns: 50% 50%;
    }
}