body {
    background: url("../img/fondo.jpg");
}

header {
    display: grid;
}

.contenedor {
    display: block;
    opacity: 1;
    justify-content: center;
    transition: opacity .1s;
    will-change: opacity;
    top: 6%;
    left: 14%;
    right: 14%;
    padding: 1.2rem;
    overflow-y: auto;
    margin: auto 20px;
    text-align: center;
    align-items: center;
    background: #f6f6f9;
    border-radius: 50px;
    z-index: 9999;
    transition: all 600ms ease;
    box-shadow: 0.2rem 0.2rem 4rem 1rem #0000001e;
}

.cuadrito {
    display: grid;
    color: #3b3b3b;
    grid-template-columns: auto 50%;
    padding: 0;
    gap: 1rem;
}