/* >>>>>>>>> Joce <<<<<<<<<<*/

body {
    background: url("../img/carrusel1.png") no-repeat center fixed;
    background-size: cover;
}

header {
    display: grid;
}

.contenedor {
    display: block;
    opacity: 1;
    justify-content: center;
    transition: opacity .1s;
    will-change: opacity;
    top: 6%;
    left: 14%;
    right: 14%;
    padding: 1.2rem;
    overflow-y: auto;
    margin: auto 8rem;
    text-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 50px;
    z-index: 9999;
    transition: all 600ms ease;
    box-shadow: 0.2rem 0.2rem 4rem 1rem #0000001e;
}

.cuadrito {
    display: grid;
    color: #3b3b3b;
    grid-template-columns: auto 50%;
    padding: 0;
    gap: 1rem;
    
}

.cuadrito2 {
    display: none;
    color: #3b3b3b;
    padding: 0;
    gap: 1rem;
}

.cuadrito .cuadroFondo1 {
    background: #f6f6f9;
    height: 100%;
    padding: 4rem 1rem;
    margin: 0;
    border-radius: 20px;
    font-family: 'Chewy', cursive;
}

.cuadrito .cuadroFondo1 img{
    width: auto;
}

.cuadrito .cuadroFondo2 {
    background: #f6f6f9;
    height: 100%;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 20px;
}

.cuadrito .cuadroFondo2 .formulario {
    margin-top: 2rem;
}

.cuadrito2 .cuadro3 {
    background: #f6f6f9;
    height: 100%;
    padding: 4rem 2rem;
    margin: 0;
    border-radius: 20px;
}

.cuadrito2 .cuadro3 .cuadroFormulario{
    display: flex;
    align-items: center;
}

.cuadrito2 .cuadro3 h3{
    align-items: center;
}

.cuadrito2 .cuadro3 .formulario {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.cuadrito .btnContinuar {
    position: relative;
    display: none;  
    align-items: center;
    vertical-align: middle;
    color: #ffffff;
    background: #068e53;
    width: 8rem;
    height: 2.5rem;
    border-radius: 50px;
    padding-left: 6px;
    margin: 16px auto 16px auto;
    cursor: pointer;
}

.cuadrito .btnContinuarApagado {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #ffffff;
    background: #5ac898;
    width: 8rem;
    height: 2.5rem;
    border-radius: 50px;
    padding-left: 6px;
    margin: 16px auto 16px auto;
}



.cuadrito a {
    text-decoration: none;
}

.btnVolver {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;
    color: #ffffff;
    background: #068e53;
    width: 7rem;
    height: 2.5rem;
    border-radius: 50px;
    padding-left: 6px;
    margin: 16px auto 16px 8rem;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
}

.btnVolver .btnA {
    color: white;
}

.cuadrito .btnContinuar .p-btn {
    text-align: center;
    margin: 0;
    width: auto;
}

.cuadrito .btnContinuarApagado .p-btn {
    text-align: center;
    margin: 0;
    width: auto;
}


/*Animacion de botones*/

.cuadrito .btnContinuar:hover {
    background: #ffff;
    color: #1d1d1d;
    border: 0.1rem solid #068e53;
    transition: all 150ms ease;
}

.btnVolver .p-btn {
    text-align: center;
    margin: 0;
    width: auto;
}

.btnVolver:hover {
    background: #ffff;
    border: 0.1rem solid #068e53;
    transition: all 150ms ease;
    color: #1d1d1d;
}

.btnVolver:hover p {
    color: #1d1d1d;
}

/*CALENDARIO*/



/*PUDIN PUDIN*/

@media (max-width: 1115px) {
    .contenedor {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .contenedor {
        margin: 0;
    }

    .cuadrito{
        display: grid;
        grid-template-columns:40% 60%;
    }

    .cuadrito .cuadroFondo1 {
        padding: 3rem 1rem;
    }

    .cuadrito .cuadroFondo2 {
        margin-right: 20px;
    }

    .cuadrito .cuadroFondo1 img {
        width: auto;
    }
}