body {
    /* IMAGEN DE FONDO*/
    background-image: url("../img/huellas.jpg");
}

.container {
    /* CONTAINER DEL DIV DE BODY */
    margin: auto;
    background-color: white;
    padding: 30px;
}

.logo-nav {
    /* LOGO MENU */
    height: 40px;
}

.navbar {
    /* MENU */
    margin: auto;
    padding: 30px;
}