.home-banner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url("../img/home_bg_img.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-banner .contenedor-banner {
    width: 50rem;
}

.home-banner .contenedor-banner h3 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    padding-bottom: 13rem;
}

.home-banner .contenedor-banner span {
    color: #2ae471;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 1650px) {
    .home-banner {
        background-position: right;
    }
    .home-banner .contenedor-banner h3 {
        padding-left: 8rem;
        padding-right: 6rem;
        font-size: 4.5rem;
    }
}

@media (max-width: 991px) {
    .home-banner {
        justify-content: center;
    }
    .home-banner .contenedor-banner {
        text-align: center;
    }
    .home-banner .contenedor-banner h3 {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 3rem;
    }
}

@media (max-width: 350px) {
    .home-banner .contenedor-banner h3 {
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 2rem;
    }
}

.home-about {
    height: 100vh;
    background: white;
    text-align: center;
}

.home-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.imagen-about {
    flex: 1 1 40rem;
}

.imagen-about img {
    width: 100%;
}

.contenedor-home {
    flex: 1 1 40rem;
}

.contenedor-home h3 {
    color: black;
    font-size: 4rem;
}

.contenedor-home span {
    color: #2ae471;
}

.contenedor-home p {
    font-size: 1.6rem;
    color: darkgrey;
    padding: 1rem 0;
    line-height: 2;
}